<h2>Log in</h2>

<form action="/login" method="POST" class="form">
    <label for="username">Username</label>
    <input type="text" name="username" required>
    <label for="username">Password</label>
    <input type="password" name="password" required>

    {{#if message}}
      <p style='color: red'>{{message}}</p>
    {{/if}}

    <button type="submit">Log In</button>
    <a href="/auth/google">Log in with Google</a>
</form>