<h1>Rooms App with Reviews</h1>

<h1>Hello {{#if user}} {{user.username}} <img src="{{user.picture}}" alt="">   {{/if}} </h1>

{{#if user}}
<a href="/private">Private</a>
<a href="/logout">Logout</a>
{{else}}
<a href="/signup">Sign Up</a>
<a href="/login">Log In</a>
{{/if}}

<a href="/rooms">Show rooms</a>